-----schema only, UTF-16

USE [master]
GO
/****** Object:  Database [OnboardingDB]    Script Date: 07.05.2026 10:01:58 ******/
CREATE DATABASE [OnboardingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnboardingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER_IK\MSSQL\DATA\OnboardingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnboardingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER_IK\MSSQL\DATA\OnboardingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnboardingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [RZPC-0-155\alfa]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [RZPC-0-155\alfa] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [OnboardingWriter]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [OnboardingWriter] WITH PASSWORD=N'57tPN16ifIRr5eg1waXRUSWFGnu+2B25F9ljgZ3M3Lg=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [OnboardingWriter] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [OnboardingReader]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [OnboardingReader] WITH PASSWORD=N's6HXjdUYf3vZCnCOdnFOb7fNztOWv7ZAvTt5kzsGSP8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [OnboardingReader] DISABLE
GO
/****** Object:  Login [NT-AUTORITÄT\SYSTEM]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT-AUTORITÄT\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$MSSQLSERVER_IK]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$MSSQLSERVER_IK] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$MSSQLSERVER_IK]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT SERVICE\SQLAgent$MSSQLSERVER_IK] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Object:  Login [NT Service\MSSQL$MSSQLSERVER_IK]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [NT Service\MSSQL$MSSQLSERVER_IK] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'6xxonDOgpWt7pVGzJzeID6eokPepIEFY/rTQpFk3sAg=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 07.05.2026 10:01:58 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'RiQDKt4hz3pFuUs1YHbnujpdUhmG1lsbbQGGkKMaDYs=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[OnboardingDB] TO [RZPC-0-155\alfa]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [RZPC-0-155\alfa]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLAgent$MSSQLSERVER_IK]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$MSSQLSERVER_IK]
GO
USE [OnboardingDB]
GO
/****** Object:  User [OnboardingWriter]    Script Date: 07.05.2026 10:01:58 ******/
CREATE USER [OnboardingWriter] FOR LOGIN [OnboardingWriter] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [OnboardingReader]    Script Date: 07.05.2026 10:01:58 ******/
CREATE USER [OnboardingReader] FOR LOGIN [OnboardingReader] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [OnboardingWriterRole]    Script Date: 07.05.2026 10:01:58 ******/
CREATE ROLE [OnboardingWriterRole]
GO
/****** Object:  DatabaseRole [OnboardingReaderRole]    Script Date: 07.05.2026 10:01:58 ******/
CREATE ROLE [OnboardingReaderRole]
GO
ALTER AUTHORIZATION ON ROLE::[OnboardingWriterRole] TO [dbo]
GO
ALTER AUTHORIZATION ON ROLE::[OnboardingReaderRole] TO [dbo]
GO
ALTER ROLE [OnboardingWriterRole] ADD MEMBER [OnboardingWriter]
GO
ALTER ROLE [OnboardingReaderRole] ADD MEMBER [OnboardingReader]
GO
GRANT CONNECT TO [OnboardingReader] AS [dbo]
GO
GRANT CONNECT TO [OnboardingWriter] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CountMissingMandatoryDocs]    Script Date: 07.05.2026 10:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CountMissingMandatoryDocs]
(
    @caseID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @missing INT;

    -- Pflichtdokumente auf Company-Ebene die noch nicht verifiziert sind
    SELECT @missing = COUNT(*)
    FROM dbo.RequiredDocuments rd
    INNER JOIN dbo.Company        c   ON c.LegalFormID = rd.LegalFormID
    INNER JOIN dbo.OnboardingCase oc  ON oc.CompanyID  = c.CompanyID
    WHERE oc.CaseID      = @caseID
      AND rd.IsMandatory  = 1
      AND rd.AppliesToUBO = 0
      AND NOT EXISTS (
            SELECT 1
            FROM dbo.SubmittedDocuments sd
            WHERE sd.CaseID         = @caseID
              AND sd.DocumentTypeID  = rd.DocumentTypeID
              AND sd.DocumentStatus <> 'Rejected'
          );

    RETURN ISNULL(@missing, 0);
END;

GO
ALTER AUTHORIZATION ON [dbo].[fn_CountMissingMandatoryDocs] TO  SCHEMA OWNER 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCaseStatusLabel]    Script Date: 07.05.2026 10:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetCaseStatusLabel]
(
    @status NVARCHAR(50)
)
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @label NVARCHAR(100);

    SET @label = CASE @status
        WHEN 'Open'     THEN N'Offen – wartet auf Dokumente'
        WHEN 'InReview' THEN N'In Prüfung'
        WHEN 'Approved' THEN N'Genehmigt'
        WHEN 'Rejected' THEN N'Abgelehnt'
        WHEN 'Closed'   THEN N'Geschlossen'
        ELSE N'Unbekannter Status'
    END;

    RETURN @label;
END;

GO
ALTER AUTHORIZATION ON [dbo].[fn_GetCaseStatusLabel] TO  SCHEMA OWNER 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsUBOReportable]    Script Date: 07.05.2026 10:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_IsUBOReportable]
(
    @ownershipPct DECIMAL(5,2)
)
RETURNS BIT
AS
BEGIN
    DECLARE @result BIT = 0;

    -- Meldepflicht ab 25% Beteiligungsanteil
    IF @ownershipPct >= 25.00
        SET @result = 1;

    RETURN @result;
END;

GO
ALTER AUTHORIZATION ON [dbo].[fn_IsUBOReportable] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Country]    Script Date: 07.05.2026 10:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [char](2) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[RegionName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Country] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LegalForm]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegalForm](
	[LegalFormID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[LegalFormCode] [nvarchar](20) NOT NULL,
	[LegalFormName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LegalForm] PRIMARY KEY CLUSTERED 
(
	[LegalFormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[LegalForm] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Company]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[LegalFormID] [int] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[RegistrationNumber] [nvarchar](50) NULL,
	[FoundationDate] [date] NULL,
	[IndustryCode] [nvarchar](20) NULL,
	[EmployeeCount] [int] NULL,
	[AnnualRevenue] [decimal](18, 2) NULL,
	[RegistrationDate] [date] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Company] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[OnboardingCase]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnboardingCase](
	[CaseID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CaseOpenDate] [date] NOT NULL,
	[CaseStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OnboardingCase] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[OnboardingCase] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_OnboardingOverview]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OnboardingOverview] AS
SELECT
    oc.CaseID,
    oc.CaseOpenDate,
    oc.CaseStatus,
    c.CompanyID,
    c.CompanyName,
    c.RegistrationNumber,
    c.EmployeeCount,
    c.AnnualRevenue,
    lf.LegalFormName,
    lf.LegalFormCode,
    co.CountryName,
    co.CountryCode,
    co.RegionName
FROM dbo.OnboardingCase        oc
INNER JOIN dbo.Company         c   ON oc.CompanyID  = c.CompanyID
INNER JOIN dbo.LegalForm       lf  ON c.LegalFormID = lf.LegalFormID
INNER JOIN dbo.Country         co  ON lf.CountryID  = co.CountryID;

GO
ALTER AUTHORIZATION ON [dbo].[vw_OnboardingOverview] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[SubmittedDocuments]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedDocuments](
	[SubmittedDocumentID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[UBOID] [int] NULL,
	[DocumentTypeID] [int] NOT NULL,
	[SubmissionDate] [date] NOT NULL,
	[DocumentStatus] [nvarchar](50) NOT NULL,
	[VerificationDate] [date] NULL,
 CONSTRAINT [PK_SubmittedDocuments] PRIMARY KEY CLUSTERED 
(
	[SubmittedDocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[SubmittedDocuments] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_DocumentCompletionStats]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DocumentCompletionStats] AS
SELECT
    oc.CaseID,
    c.CompanyName,
    oc.CaseStatus,
    COUNT(sd.SubmittedDocumentID)                               AS TotalDocuments,
    SUM(CASE WHEN sd.DocumentStatus = 'Verified'  THEN 1 ELSE 0 END) AS VerifiedDocuments,
    SUM(CASE WHEN sd.DocumentStatus = 'Pending'   THEN 1 ELSE 0 END) AS PendingDocuments,
    SUM(CASE WHEN sd.DocumentStatus = 'Rejected'  THEN 1 ELSE 0 END) AS RejectedDocuments
FROM dbo.OnboardingCase           oc
INNER JOIN dbo.Company            c   ON oc.CompanyID = c.CompanyID
INNER JOIN dbo.SubmittedDocuments sd  ON oc.CaseID    = sd.CaseID
GROUP BY
    oc.CaseID,
    c.CompanyName,
    oc.CaseStatus
HAVING
    COUNT(sd.SubmittedDocumentID) >= 1;

GO
ALTER AUTHORIZATION ON [dbo].[vw_DocumentCompletionStats] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[UBO]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBO](
	[UBOID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Nationality] [char](2) NULL,
	[PassportNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_UBO] PRIMARY KEY CLUSTERED 
(
	[UBOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[UBO] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[OwnershipID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[UBOID] [int] NOT NULL,
	[OwnershipPercentage] [decimal](5, 2) NOT NULL,
	[ValidFrom] [date] NULL,
	[ValidTo] [date] NULL,
	[IsOwnershipDirect] [bit] NOT NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[OwnershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Ownership] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[vw_CompanyWithUBO]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CompanyWithUBO] AS
SELECT
    c.CompanyID,
    c.CompanyName,
    lf.LegalFormName,
    co.CountryName,
    u.UBOID,
    u.FirstName + ' ' + u.LastName          AS UBOFullName,
    u.Nationality                            AS UBONationality,
    o.OwnershipPercentage,
    o.OwnershipType,
    o.ValidFrom,
    o.ValidTo,
    -- Meldepflichtig wenn Anteil >= 25%
    CASE
        WHEN o.OwnershipPercentage >= 25 THEN 'Ja'
        WHEN o.OwnershipPercentage IS NULL THEN 'Kein UBO'
        ELSE 'Nein'
    END                                      AS IsBeneficialOwner
FROM dbo.Company               c
INNER JOIN dbo.LegalForm       lf ON c.LegalFormID = lf.LegalFormID
INNER JOIN dbo.Country         co ON lf.CountryID  = co.CountryID
LEFT JOIN  dbo.Ownership       o  ON c.CompanyID   = o.CompanyID
LEFT JOIN  dbo.UBO             u  ON o.UBOID       = u.UBOID;

GO
ALTER AUTHORIZATION ON [dbo].[vw_CompanyWithUBO] TO  SCHEMA OWNER 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUBOsByCompany]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetUBOsByCompany]
(
    @companyID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        u.UBOID,
        u.FirstName,
        u.LastName,
        u.FirstName + ' ' + u.LastName       AS FullName,
        u.DateOfBirth,
        u.Nationality,
        o.OwnershipPercentage,
        o.OwnershipType,
        o.ValidFrom,
        o.ValidTo,
        -- Wiederverwendung der Skalarfunktion
        dbo.fn_IsUBOReportable(o.OwnershipPercentage) AS IsReportable
    FROM dbo.UBO       u
    INNER JOIN dbo.Ownership o ON u.UBOID = o.UBOID
    WHERE o.CompanyID = @companyID
      AND (o.ValidTo IS NULL OR o.ValidTo >= GETDATE())
);

GO
ALTER AUTHORIZATION ON [dbo].[fn_GetUBOsByCompany] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[CompanyAddress]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyAddress](
	[CompanyAddressID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[AddressType] [nvarchar](20) NOT NULL,
	[StreetAddress] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[City] [nvarchar](100) NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyAddress] PRIMARY KEY CLUSTERED 
(
	[CompanyAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[CompanyAddress] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentTypeName] [nvarchar](100) NOT NULL,
	[DocumentScope] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[DocumentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[DocumentType] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExternalSource]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalSource](
	[ExternalSourceID] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [nvarchar](100) NOT NULL,
	[SourceCountry] [char](2) NULL,
	[SourceType] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExternalSource] PRIMARY KEY CLUSTERED 
(
	[ExternalSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExternalSource] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ExternalVerificationCheck]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalVerificationCheck](
	[ExternalCheckID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[ExternalSourceID] [int] NOT NULL,
	[CheckDate] [date] NOT NULL,
	[CheckStatus] [nvarchar](50) NOT NULL,
	[ResultSummary] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExternalVerificationCheck] PRIMARY KEY CLUSTERED 
(
	[ExternalCheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ExternalVerificationCheck] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RequiredDocuments]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequiredDocuments](
	[RequiredDocumentID] [int] IDENTITY(1,1) NOT NULL,
	[LegalFormID] [int] NOT NULL,
	[DocumentTypeID] [int] NOT NULL,
	[RequirementLevel] [nvarchar](50) NULL,
	[AppliesToUBO] [bit] NOT NULL,
	[IsMandatory] [bit] NOT NULL,
 CONSTRAINT [PK_RequiredDocuments] PRIMARY KEY CLUSTERED 
(
	[RequiredDocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RequiredDocuments] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [LegalFormID], [CompanyName], [RegistrationNumber], [FoundationDate], [IndustryCode], [EmployeeCount], [AnnualRevenue], [RegistrationDate]) VALUES (1, 1, N'SolarTech GmbH', N'DE-HRB-100001', CAST(N'2015-03-15' AS Date), N'3511', 45, CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2026-05-05' AS Date))
INSERT [dbo].[Company] ([CompanyID], [LegalFormID], [CompanyName], [RegistrationNumber], [FoundationDate], [IndustryCode], [EmployeeCount], [AnnualRevenue], [RegistrationDate]) VALUES (2, 2, N'GreenEnergy UG', N'DE-HRB-100002', CAST(N'2020-07-10' AS Date), N'3511', 12, CAST(450000.00 AS Decimal(18, 2)), CAST(N'2026-05-05' AS Date))
INSERT [dbo].[Company] ([CompanyID], [LegalFormID], [CompanyName], [RegistrationNumber], [FoundationDate], [IndustryCode], [EmployeeCount], [AnnualRevenue], [RegistrationDate]) VALUES (3, 4, N'AlpenVolt GmbH', N'AT-FN-200001', CAST(N'2014-06-20' AS Date), N'3511', 30, CAST(1800000.00 AS Decimal(18, 2)), CAST(N'2026-05-05' AS Date))
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyAddress] ON 

INSERT [dbo].[CompanyAddress] ([CompanyAddressID], [CompanyID], [CountryID], [AddressType], [StreetAddress], [PostalCode], [City], [IsPrimary]) VALUES (1, 1, 1, N'Registered', N'Alexanderplatz 1', N'10178', N'Berlin', 1)
INSERT [dbo].[CompanyAddress] ([CompanyAddressID], [CompanyID], [CountryID], [AddressType], [StreetAddress], [PostalCode], [City], [IsPrimary]) VALUES (2, 1, 1, N'Physical', N'Industriestrasse 22', N'12435', N'Berlin', 0)
INSERT [dbo].[CompanyAddress] ([CompanyAddressID], [CompanyID], [CountryID], [AddressType], [StreetAddress], [PostalCode], [City], [IsPrimary]) VALUES (3, 2, 1, N'Registered', N'Friedrichstrasse 10', N'10117', N'Berlin', 1)
SET IDENTITY_INSERT [dbo].[CompanyAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryCode], [CountryName], [RegionName]) VALUES (1, N'DE', N'Germany', N'DACH')
INSERT [dbo].[Country] ([CountryID], [CountryCode], [CountryName], [RegionName]) VALUES (2, N'AT', N'Austria', N'DACH')
INSERT [dbo].[Country] ([CountryID], [CountryCode], [CountryName], [RegionName]) VALUES (3, N'CH', N'Switzerland', N'DACH')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentType] ON 

INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName], [DocumentScope]) VALUES (1, N'Handelsregisterauszug', N'Company')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName], [DocumentScope]) VALUES (2, N'Gesellschaftsvertrag', N'Company')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName], [DocumentScope]) VALUES (3, N'Transparenzregisterauszug', N'Company')
SET IDENTITY_INSERT [dbo].[DocumentType] OFF
GO
SET IDENTITY_INSERT [dbo].[ExternalSource] ON 

INSERT [dbo].[ExternalSource] ([ExternalSourceID], [SourceName], [SourceCountry], [SourceType]) VALUES (1, N'Internal Review', NULL, N'Internal')
INSERT [dbo].[ExternalSource] ([ExternalSourceID], [SourceName], [SourceCountry], [SourceType]) VALUES (2, N'Creditreform', N'DE', N'Commercial')
INSERT [dbo].[ExternalSource] ([ExternalSourceID], [SourceName], [SourceCountry], [SourceType]) VALUES (3, N'Handelsregister DE', N'DE', N'Registry')
SET IDENTITY_INSERT [dbo].[ExternalSource] OFF
GO
SET IDENTITY_INSERT [dbo].[ExternalVerificationCheck] ON 

INSERT [dbo].[ExternalVerificationCheck] ([ExternalCheckID], [CaseID], [ExternalSourceID], [CheckDate], [CheckStatus], [ResultSummary]) VALUES (1, 1, 2, CAST(N'2024-01-15' AS Date), N'Passed', N'Creditreform – keine negativen Einträge')
INSERT [dbo].[ExternalVerificationCheck] ([ExternalCheckID], [CaseID], [ExternalSourceID], [CheckDate], [CheckStatus], [ResultSummary]) VALUES (2, 1, 3, CAST(N'2024-01-16' AS Date), N'Passed', N'Handelsregister – Eintrag bestätigt')
INSERT [dbo].[ExternalVerificationCheck] ([ExternalCheckID], [CaseID], [ExternalSourceID], [CheckDate], [CheckStatus], [ResultSummary]) VALUES (3, 4, 4, CAST(N'2024-03-25' AS Date), N'Passed', N'Firmenbuch AT – Eintrag bestätigt')
SET IDENTITY_INSERT [dbo].[ExternalVerificationCheck] OFF
GO
SET IDENTITY_INSERT [dbo].[LegalForm] ON 

INSERT [dbo].[LegalForm] ([LegalFormID], [CountryID], [LegalFormCode], [LegalFormName]) VALUES (1, 1, N'GmbH', N'Gesellschaft mit beschränkter Haftung')
INSERT [dbo].[LegalForm] ([LegalFormID], [CountryID], [LegalFormCode], [LegalFormName]) VALUES (2, 1, N'UG', N'Unternehmergesellschaft')
INSERT [dbo].[LegalForm] ([LegalFormID], [CountryID], [LegalFormCode], [LegalFormName]) VALUES (3, 1, N'AG', N'Aktiengesellschaft')
SET IDENTITY_INSERT [dbo].[LegalForm] OFF
GO
SET IDENTITY_INSERT [dbo].[OnboardingCase] ON 

INSERT [dbo].[OnboardingCase] ([CaseID], [CompanyID], [CaseOpenDate], [CaseStatus]) VALUES (1, 1, CAST(N'2024-01-10' AS Date), N'Approved')
INSERT [dbo].[OnboardingCase] ([CaseID], [CompanyID], [CaseOpenDate], [CaseStatus]) VALUES (2, 2, CAST(N'2024-02-15' AS Date), N'Open')
INSERT [dbo].[OnboardingCase] ([CaseID], [CompanyID], [CaseOpenDate], [CaseStatus]) VALUES (3, 3, CAST(N'2024-03-01' AS Date), N'InReview')
SET IDENTITY_INSERT [dbo].[OnboardingCase] OFF
GO
SET IDENTITY_INSERT [dbo].[Ownership] ON 

INSERT [dbo].[Ownership] ([OwnershipID], [CompanyID], [UBOID], [OwnershipPercentage], [ValidFrom], [ValidTo], [IsOwnershipDirect]) VALUES (1, 1, 1, CAST(30.00 AS Decimal(5, 2)), CAST(N'2025-01-10' AS Date), NULL, 1)
INSERT [dbo].[Ownership] ([OwnershipID], [CompanyID], [UBOID], [OwnershipPercentage], [ValidFrom], [ValidTo], [IsOwnershipDirect]) VALUES (2, 2, 2, CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-03-15' AS Date), NULL, 1)
INSERT [dbo].[Ownership] ([OwnershipID], [CompanyID], [UBOID], [OwnershipPercentage], [ValidFrom], [ValidTo], [IsOwnershipDirect]) VALUES (3, 3, 3, CAST(35.00 AS Decimal(5, 2)), CAST(N'2025-02-05' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Ownership] OFF
GO
SET IDENTITY_INSERT [dbo].[RequiredDocuments] ON 

INSERT [dbo].[RequiredDocuments] ([RequiredDocumentID], [LegalFormID], [DocumentTypeID], [RequirementLevel], [AppliesToUBO], [IsMandatory]) VALUES (1, 1, 1, N'Standard', 0, 1)
INSERT [dbo].[RequiredDocuments] ([RequiredDocumentID], [LegalFormID], [DocumentTypeID], [RequirementLevel], [AppliesToUBO], [IsMandatory]) VALUES (2, 1, 2, N'Standard', 0, 1)
INSERT [dbo].[RequiredDocuments] ([RequiredDocumentID], [LegalFormID], [DocumentTypeID], [RequirementLevel], [AppliesToUBO], [IsMandatory]) VALUES (3, 1, 5, N'Standard', 1, 1)
SET IDENTITY_INSERT [dbo].[RequiredDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmittedDocuments] ON 

INSERT [dbo].[SubmittedDocuments] ([SubmittedDocumentID], [CaseID], [UBOID], [DocumentTypeID], [SubmissionDate], [DocumentStatus], [VerificationDate]) VALUES (1, 1, NULL, 1, CAST(N'2024-01-12' AS Date), N'Verified', CAST(N'2024-01-20' AS Date))
INSERT [dbo].[SubmittedDocuments] ([SubmittedDocumentID], [CaseID], [UBOID], [DocumentTypeID], [SubmissionDate], [DocumentStatus], [VerificationDate]) VALUES (2, 1, NULL, 2, CAST(N'2024-01-12' AS Date), N'Verified', CAST(N'2024-01-20' AS Date))
INSERT [dbo].[SubmittedDocuments] ([SubmittedDocumentID], [CaseID], [UBOID], [DocumentTypeID], [SubmissionDate], [DocumentStatus], [VerificationDate]) VALUES (3, 1, 1, 5, CAST(N'2024-01-13' AS Date), N'Verified', CAST(N'2024-01-20' AS Date))
SET IDENTITY_INSERT [dbo].[SubmittedDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[UBO] ON 

INSERT [dbo].[UBO] ([UBOID], [FirstName], [LastName], [DateOfBirth], [Nationality], [PassportNo]) VALUES (1, N'Max', N'Mueller', CAST(N'1985-03-12' AS Date), N'DE', N'DE-P-100001')
INSERT [dbo].[UBO] ([UBOID], [FirstName], [LastName], [DateOfBirth], [Nationality], [PassportNo]) VALUES (2, N'Laura', N'Schneider', CAST(N'1990-07-21' AS Date), N'DE', N'DE-P-100002')
INSERT [dbo].[UBO] ([UBOID], [FirstName], [LastName], [DateOfBirth], [Nationality], [PassportNo]) VALUES (3, N'Anna', N'Gruber', CAST(N'1987-06-08' AS Date), N'AT', N'AT-P-200001')
SET IDENTITY_INSERT [dbo].[UBO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Company_CompanyName]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_Company_CompanyName] ON [dbo].[Company]
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Company_RegistrationNumber]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_Company_RegistrationNumber] ON [dbo].[Company]
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Country_Code]    Script Date: 07.05.2026 10:01:59 ******/
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [UQ_Country_Code] UNIQUE NONCLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OnboardingCase_Status]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_OnboardingCase_Status] ON [dbo].[OnboardingCase]
(
	[CaseStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ownership_CompanyID]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_Ownership_CompanyID] ON [dbo].[Ownership]
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubmittedDocuments_CaseStatus]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_SubmittedDocuments_CaseStatus] ON [dbo].[SubmittedDocuments]
(
	[CaseID] ASC,
	[DocumentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UBO_PassportNo]    Script Date: 07.05.2026 10:01:59 ******/
ALTER TABLE [dbo].[UBO] ADD  CONSTRAINT [UQ_UBO_PassportNo] UNIQUE NONCLUSTERED 
(
	[PassportNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UBO_LastName]    Script Date: 07.05.2026 10:01:59 ******/
CREATE NONCLUSTERED INDEX [IX_UBO_LastName] ON [dbo].[UBO]
(
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0)) FOR [EmployeeCount]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0.00)) FOR [AnnualRevenue]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  DEFAULT ('Registered') FOR [AddressType]
GO
ALTER TABLE [dbo].[CompanyAddress] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[DocumentType] ADD  DEFAULT ('Company') FOR [DocumentScope]
GO
ALTER TABLE [dbo].[ExternalVerificationCheck] ADD  DEFAULT (getdate()) FOR [CheckDate]
GO
ALTER TABLE [dbo].[ExternalVerificationCheck] ADD  DEFAULT ('Pending') FOR [CheckStatus]
GO
ALTER TABLE [dbo].[OnboardingCase] ADD  DEFAULT (getdate()) FOR [CaseOpenDate]
GO
ALTER TABLE [dbo].[OnboardingCase] ADD  DEFAULT ('Open') FOR [CaseStatus]
GO
ALTER TABLE [dbo].[Ownership] ADD  DEFAULT ((0)) FOR [OwnershipPercentage]
GO
ALTER TABLE [dbo].[Ownership] ADD  DEFAULT ((1)) FOR [IsOwnershipDirect]
GO
ALTER TABLE [dbo].[RequiredDocuments] ADD  DEFAULT ('Standard') FOR [RequirementLevel]
GO
ALTER TABLE [dbo].[RequiredDocuments] ADD  DEFAULT ((0)) FOR [AppliesToUBO]
GO
ALTER TABLE [dbo].[RequiredDocuments] ADD  DEFAULT ((1)) FOR [IsMandatory]
GO
ALTER TABLE [dbo].[SubmittedDocuments] ADD  DEFAULT (getdate()) FOR [SubmissionDate]
GO
ALTER TABLE [dbo].[SubmittedDocuments] ADD  DEFAULT ('Pending') FOR [DocumentStatus]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_LegalForm] FOREIGN KEY([LegalFormID])
REFERENCES [dbo].[LegalForm] ([LegalFormID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_LegalForm]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_CompanyAddress_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [FK_CompanyAddress_Company]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [FK_CompanyAddress_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [FK_CompanyAddress_Country]
GO
ALTER TABLE [dbo].[ExternalVerificationCheck]  WITH CHECK ADD  CONSTRAINT [FK_ExtCheck_Case] FOREIGN KEY([CaseID])
REFERENCES [dbo].[OnboardingCase] ([CaseID])
GO
ALTER TABLE [dbo].[ExternalVerificationCheck] CHECK CONSTRAINT [FK_ExtCheck_Case]
GO
ALTER TABLE [dbo].[ExternalVerificationCheck]  WITH CHECK ADD  CONSTRAINT [FK_ExtCheck_Source] FOREIGN KEY([ExternalSourceID])
REFERENCES [dbo].[ExternalSource] ([ExternalSourceID])
GO
ALTER TABLE [dbo].[ExternalVerificationCheck] CHECK CONSTRAINT [FK_ExtCheck_Source]
GO
ALTER TABLE [dbo].[LegalForm]  WITH CHECK ADD  CONSTRAINT [FK_LegalForm_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[LegalForm] CHECK CONSTRAINT [FK_LegalForm_Country]
GO
ALTER TABLE [dbo].[OnboardingCase]  WITH CHECK ADD  CONSTRAINT [FK_OnboardingCase_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[OnboardingCase] CHECK CONSTRAINT [FK_OnboardingCase_Company]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Company]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_UBO] FOREIGN KEY([UBOID])
REFERENCES [dbo].[UBO] ([UBOID])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_UBO]
GO
ALTER TABLE [dbo].[RequiredDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ReqDocs_DocType] FOREIGN KEY([DocumentTypeID])
REFERENCES [dbo].[DocumentType] ([DocumentTypeID])
GO
ALTER TABLE [dbo].[RequiredDocuments] CHECK CONSTRAINT [FK_ReqDocs_DocType]
GO
ALTER TABLE [dbo].[RequiredDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ReqDocs_LegalForm] FOREIGN KEY([LegalFormID])
REFERENCES [dbo].[LegalForm] ([LegalFormID])
GO
ALTER TABLE [dbo].[RequiredDocuments] CHECK CONSTRAINT [FK_ReqDocs_LegalForm]
GO
ALTER TABLE [dbo].[SubmittedDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SubmittedDocs_Case] FOREIGN KEY([CaseID])
REFERENCES [dbo].[OnboardingCase] ([CaseID])
GO
ALTER TABLE [dbo].[SubmittedDocuments] CHECK CONSTRAINT [FK_SubmittedDocs_Case]
GO
ALTER TABLE [dbo].[SubmittedDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SubmittedDocs_DocType] FOREIGN KEY([DocumentTypeID])
REFERENCES [dbo].[DocumentType] ([DocumentTypeID])
GO
ALTER TABLE [dbo].[SubmittedDocuments] CHECK CONSTRAINT [FK_SubmittedDocs_DocType]
GO
ALTER TABLE [dbo].[SubmittedDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SubmittedDocs_UBO] FOREIGN KEY([UBOID])
REFERENCES [dbo].[UBO] ([UBOID])
GO
ALTER TABLE [dbo].[SubmittedDocuments] CHECK CONSTRAINT [FK_SubmittedDocs_UBO]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [CHK_Company_AnnualRevenue] CHECK  (([AnnualRevenue]>=(0)))
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [CHK_Company_AnnualRevenue]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [CHK_Company_EmployeeCount] CHECK  (([EmployeeCount]>=(0)))
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [CHK_Company_EmployeeCount]
GO
ALTER TABLE [dbo].[CompanyAddress]  WITH CHECK ADD  CONSTRAINT [CHK_CompanyAddress_Type] CHECK  (([AddressType]='Physical' OR [AddressType]='Registered'))
GO
ALTER TABLE [dbo].[CompanyAddress] CHECK CONSTRAINT [CHK_CompanyAddress_Type]
GO
ALTER TABLE [dbo].[DocumentType]  WITH CHECK ADD  CONSTRAINT [CHK_DocumentType_Scope] CHECK  (([DocumentScope]='UBO' OR [DocumentScope]='Company'))
GO
ALTER TABLE [dbo].[DocumentType] CHECK CONSTRAINT [CHK_DocumentType_Scope]
GO
ALTER TABLE [dbo].[ExternalVerificationCheck]  WITH CHECK ADD  CONSTRAINT [CHK_ExternalCheck_Status] CHECK  (([CheckStatus]='Manual' OR [CheckStatus]='Failed' OR [CheckStatus]='Passed' OR [CheckStatus]='Pending'))
GO
ALTER TABLE [dbo].[ExternalVerificationCheck] CHECK CONSTRAINT [CHK_ExternalCheck_Status]
GO
ALTER TABLE [dbo].[OnboardingCase]  WITH CHECK ADD  CONSTRAINT [CHK_OnboardingCase_Status] CHECK  (([CaseStatus]='Closed' OR [CaseStatus]='Rejected' OR [CaseStatus]='Approved' OR [CaseStatus]='InReview' OR [CaseStatus]='Open'))
GO
ALTER TABLE [dbo].[OnboardingCase] CHECK CONSTRAINT [CHK_OnboardingCase_Status]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [CHK_Ownership_Percentage] CHECK  (([OwnershipPercentage]>=(0) AND [OwnershipPercentage]<=(100)))
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [CHK_Ownership_Percentage]
GO
ALTER TABLE [dbo].[SubmittedDocuments]  WITH CHECK ADD  CONSTRAINT [CHK_SubmittedDocs_Status] CHECK  (([DocumentStatus]='Rejected' OR [DocumentStatus]='Verified' OR [DocumentStatus]='Pending'))
GO
ALTER TABLE [dbo].[SubmittedDocuments] CHECK CONSTRAINT [CHK_SubmittedDocs_Status]
GO
/****** Object:  StoredProcedure [dbo].[usp_SubmitDocument]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SubmitDocument]
    @caseID         INT,
    @documentTypeID INT,
    @uboID          INT           = NULL,
    @errorMessage   NVARCHAR(500) = N'' OUTPUT,
    @newDocumentID  INT           = 0   OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ausgabeparameter initialisieren
    SET @errorMessage  = N'OK';
    SET @newDocumentID = 0;

    -- --------------------------------------------------------
    -- 1. CaseID prüfen – existiert und hat erlaubten Status?
    -- --------------------------------------------------------
    DECLARE @caseStatus NVARCHAR(50);

    SELECT @caseStatus = CaseStatus
    FROM dbo.OnboardingCase
    WHERE CaseID = @caseID;

    IF @caseStatus IS NULL
    BEGIN
        SET @errorMessage = N'Fehler: CaseID '
            + CAST(@caseID AS NVARCHAR)
            + N' existiert nicht.';
        RETURN;
    END;

    -- Dokumente nur bei offenem oder laufendem Case erlaubt
    IF @caseStatus NOT IN ('Open', 'InReview')
    BEGIN
        -- Lesbare Bezeichnung über eigene Funktion
        SET @errorMessage = N'Fehler: Case hat Status "'
            + dbo.fn_GetCaseStatusLabel(@caseStatus)
            + N'" – Dokumente können nicht mehr eingereicht werden.';
        RETURN;
    END;

    -- --------------------------------------------------------
    -- 2. DocumentTypeID prüfen
    -- --------------------------------------------------------
    IF NOT EXISTS (
        SELECT 1 FROM dbo.DocumentType
        WHERE DocumentTypeID = @documentTypeID
    )
    BEGIN
        SET @errorMessage = N'Fehler: DocumentTypeID '
            + CAST(@documentTypeID AS NVARCHAR)
            + N' existiert nicht.';
        RETURN;
    END;

    -- --------------------------------------------------------
    -- 3. Duplikat prüfen – gleiches Dokument für selben Case
    --    (abgelehnte Dokumente dürfen erneut eingereicht werden)
    -- --------------------------------------------------------
    IF EXISTS (
        SELECT 1
        FROM dbo.SubmittedDocuments
        WHERE CaseID          = @caseID
          AND DocumentTypeID  = @documentTypeID
          AND DocumentStatus <> 'Rejected'
          AND (
                (@uboID IS NULL AND UBOID IS NULL)
                OR UBOID = @uboID
              )
    )
    BEGIN
        SET @errorMessage = N'Hinweis: Dieses Dokument wurde bereits '
            + N'eingereicht und ist noch aktiv (Status nicht "Abgelehnt").';
        RETURN;
    END;

    -- --------------------------------------------------------
    -- 4. UBO-Zugehörigkeit prüfen (nur bei UBO-Dokumenten)
    -- --------------------------------------------------------
    IF @uboID IS NOT NULL
    BEGIN
        DECLARE @companyID INT;

        SELECT @companyID = CompanyID
        FROM dbo.OnboardingCase
        WHERE CaseID = @caseID;

        -- UBO muss meldepflichtig sein (Anteil >= 25%)
        -- Prüfung über eigene Skalarfunktion fn_IsUBOReportable
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Ownership
            WHERE CompanyID = @companyID
              AND UBOID      = @uboID
              AND dbo.fn_IsUBOReportable(OwnershipPercentage) = 1
        )
        BEGIN
            SET @errorMessage = N'Fehler: UBO '
                + CAST(@uboID AS NVARCHAR)
                + N' ist für dieses Unternehmen nicht meldepflichtig '
                + N'(Beteiligungsanteil unter 25%).';
            RETURN;
        END;
    END;

    -- --------------------------------------------------------
    -- 5. Dokument einfügen
    -- --------------------------------------------------------
    INSERT INTO dbo.SubmittedDocuments
        (CaseID, UBOID, DocumentTypeID, SubmissionDate, DocumentStatus)
    VALUES
        (@caseID, @uboID, @documentTypeID, GETDATE(), 'Pending');

    SET @newDocumentID = SCOPE_IDENTITY();

    -- --------------------------------------------------------
    -- 6. Alle Pflichtdokumente vorhanden?
    --    → Case automatisch auf 'InReview' setzen
    --    Prüfung über eigene Funktion fn_CountMissingMandatoryDocs
    -- --------------------------------------------------------
    IF dbo.fn_CountMissingMandatoryDocs(@caseID) = 0
    BEGIN
        UPDATE dbo.OnboardingCase
        SET    CaseStatus = 'InReview'
        WHERE  CaseID     = @caseID
          AND  CaseStatus = 'Open';  -- nur wenn noch 'Open'

        SET @errorMessage = N'OK – Dokument eingereicht. '
            + N'Alle Pflichtdokumente vollständig – '
            + N'Case wurde auf "In Prüfung" gesetzt.';
    END;
    ELSE
    BEGIN
        SET @errorMessage = N'OK – Dokument erfolgreich eingereicht. '
            + N'Es fehlen noch '
            + CAST(dbo.fn_CountMissingMandatoryDocs(@caseID) AS NVARCHAR)
            + N' Pflichtdokument(e).';
    END;
END;

GO
ALTER AUTHORIZATION ON [dbo].[usp_SubmitDocument] TO  SCHEMA OWNER 
GO
GRANT EXECUTE ON [dbo].[usp_SubmitDocument] TO [OnboardingWriterRole] AS [dbo]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCaseStatus]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateCaseStatus]
    @caseID       INT,
    @newStatus    NVARCHAR(50),
    @errorMessage NVARCHAR(500) = N'' OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @errorMessage = N'OK';

    -- Case prüfen
    DECLARE @currentStatus NVARCHAR(50);
    SELECT @currentStatus = CaseStatus
    FROM dbo.OnboardingCase
    WHERE CaseID = @caseID;

    IF @currentStatus IS NULL
    BEGIN
        SET @errorMessage = N'Fehler: CaseID nicht gefunden.';
        RETURN;
    END;

    -- Erlaubte Statusübergänge prüfen
    -- Open → InReview → Approved/Rejected → Closed
    DECLARE @allowed BIT = 0;

    IF @currentStatus = 'Open'     AND @newStatus IN ('InReview', 'Rejected') SET @allowed = 1;
    IF @currentStatus = 'InReview' AND @newStatus IN ('Approved', 'Rejected') SET @allowed = 1;
    IF @currentStatus IN ('Approved','Rejected') AND @newStatus = 'Closed'    SET @allowed = 1;

    IF @allowed = 0
    BEGIN
        SET @errorMessage = N'Fehler: Ungültiger Statusübergang von "'
            + dbo.fn_GetCaseStatusLabel(@currentStatus)
            + N'" nach "'
            + dbo.fn_GetCaseStatusLabel(@newStatus) + N'".';
        RETURN;
    END;

    -- Status aktualisieren
    UPDATE dbo.OnboardingCase
    SET CaseStatus = @newStatus
    WHERE CaseID = @caseID;

    SET @errorMessage = N'OK – Status von Case '
        + CAST(@caseID AS NVARCHAR)
        + N' auf "'
        + dbo.fn_GetCaseStatusLabel(@newStatus)
        + N'" gesetzt.';
END;

GO
ALTER AUTHORIZATION ON [dbo].[usp_UpdateCaseStatus] TO  SCHEMA OWNER 
GO
GRANT EXECUTE ON [dbo].[usp_UpdateCaseStatus] TO [OnboardingWriterRole] AS [dbo]
GO
/****** Object:  Trigger [dbo].[trg_OnboardingCase_StatusChange]    Script Date: 07.05.2026 10:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_OnboardingCase_StatusChange]
ON [dbo].[OnboardingCase]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Nur reagieren wenn CaseStatus tatsächlich geändert wurde
    IF NOT UPDATE(CaseStatus) RETURN;

    -- --------------------------------------------------------
    -- Fall 1: Case wurde auf APPROVED gesetzt
    --         → offene Dokumente verifizieren
    -- --------------------------------------------------------
    UPDATE sd
    SET    sd.DocumentStatus   = 'Verified',
           sd.VerificationDate = GETDATE()
    FROM   dbo.SubmittedDocuments sd
    INNER JOIN inserted i ON sd.CaseID = i.CaseID
    INNER JOIN deleted  d ON d.CaseID  = i.CaseID
    WHERE  i.CaseStatus     = 'Approved'
      AND  d.CaseStatus    <> 'Approved'    -- nur bei tatsächlicher Änderung
      AND  sd.DocumentStatus = 'Pending';

    -- --------------------------------------------------------
    -- Fall 2: Case wurde auf REJECTED gesetzt
    --         → offene Dokumente ablehnen
    -- --------------------------------------------------------
    UPDATE sd
    SET    sd.DocumentStatus   = 'Rejected',
           sd.VerificationDate = GETDATE()
    FROM   dbo.SubmittedDocuments sd
    INNER JOIN inserted i ON sd.CaseID = i.CaseID
    INNER JOIN deleted  d ON d.CaseID  = i.CaseID
    WHERE  i.CaseStatus     = 'Rejected'
      AND  d.CaseStatus    <> 'Rejected'    -- nur bei tatsächlicher Änderung
      AND  sd.DocumentStatus = 'Pending';

    -- --------------------------------------------------------
    -- Automatisch externen Check-Eintrag erstellen
    -- wenn noch keiner für diesen Case vorhanden ist
    -- ExternalSourceID = 1 → 'Internal Review'
    -- --------------------------------------------------------
    INSERT INTO dbo.ExternalVerificationCheck
        (CaseID, ExternalSourceID, CheckDate, CheckStatus, ResultSummary)
    SELECT
        i.CaseID,
        1,
        GETDATE(),
        CASE i.CaseStatus
            WHEN 'Approved' THEN 'Passed'
            WHEN 'Rejected' THEN 'Failed'
            ELSE 'Manual'
        END,
        N'Automatisch erstellt durch Trigger – Statusänderung auf: '
            + i.CaseStatus
            + N' (vorher: ' + d.CaseStatus + N')'
    FROM inserted i
    INNER JOIN deleted d ON d.CaseID = i.CaseID
    WHERE i.CaseStatus IN ('Approved', 'Rejected')
      AND d.CaseStatus <> i.CaseStatus
      AND NOT EXISTS (
            SELECT 1
            FROM dbo.ExternalVerificationCheck evc
            WHERE evc.CaseID = i.CaseID
          );

END;

GO
ALTER TABLE [dbo].[OnboardingCase] ENABLE TRIGGER [trg_OnboardingCase_StatusChange]
GO
USE [master]
GO
